main {
  width: 100%;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
}
.content > h1{
  text-align: center;
}
table {
  margin: 70px 0 0 0 !important;
}
.table-actions{
  display: flex !important;
  gap: 15px;
}
.filter {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
